body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.body-contain{
  /* min-height: 88vh; */
}
.navbar{
  justify-content: flex-end !important;
}
.navbar-expand-lg .navbar-nav{
  margin:auto;
}
.header_part1, .header_part3{
  display: flex;
  align-items: center;
}
.header_part1>a, .header_part3>a{
  font-size:25px;
}
#navbarText>ul>li>a{
  font-size:18px;
  color:black;
}
.header_part3{
  display: flex;
  justify-content: end;
}
.collapse.show {
  /* display: block;
  background: #959595;
  margin-top: 10px; */
}
.green-color{
  color:#629f6c !important;
}
.footer-line{
  border-top: 1px solid black;
}
footer .korno-2022{
  font-size:22px !important;
  font-weight: 700;
}
.footer-social{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-part3-col{
  display: flex;
  justify-content: flex-end;
}
.spin-box-contain{
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: 25vw;
  align-items: center;
}
.carousel-item{
  height:35vw !important;
}

@media (max-width:540px){
  .header_part1{
    visibility: hidden;
  }
  .header_part3{
    position: absolute;
  }
}
@media (max-width:980px){
  .footer-part1, .footer-part3{
    text-align: center !important;
  }
  .footer-part3-col{
    display: flex;
    justify-content: center;
  }
}