body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.navbar{
  justify-content: flex-end !important;
}
.navbar-expand-lg .navbar-nav{
  margin:auto;
}
.header_part1, .header_part3{
  display: flex;
  align-items: center;
}
.header_part1>a, .header_part3>a{
  font-size:25px;
}
#navbarText>ul>li>a{
  font-size:18px;
  color:black;
}
.header_part3{
  display: flex;
  justify-content: end;
}
.none-underline{
  text-decoration: none !important;
}
.green-color{
  color:#629f6c !important;
}
.footer-line{
  border-top: 1px solid black;
}
footer .korno-2022{
  font-size:22px !important;
  font-weight: 700;
}
.footer-social{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-part3-col{
  display: flex;
  justify-content: flex-end;
}
.spin-box-contain{
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: 25vw;
  align-items: center;
}
.carousel-item{
  height:35vw !important;
}
.filter_hide{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.filter_hide:hover{
  cursor: pointer;
}
.product-img-box{
  border: 1px solid #629f6c;
}
.accordion-item, .filter_apply_btn_box {
  border: none !important;
  border-top: 1px solid #629f6c !important;
  border-radius: 0 !important;
}
.accordion-button:focus{
  box-shadow: none  !important;
}
.apply_filter_btn{
    border: none !important;
    background-color: #629f6c !important;
    color: white !important
}
.form-check-inline {
  display: flex !important;
}
.form-check-input:checked {
  background-color: #629f6c !important;
  border-color: #629f6c !important;
}
.form-check-input{
  border:1px solid black !important;
}
.form-check-inline:hover, .form-check-input:hover, .form-check-label:hover{
  cursor: pointer !important;
}
.price_filter_form .form-check-label{
  font-size: 13px !important;
}
.product_item{
  border-bottom: 1px solid black;
}
.add_to_bag{
  background-color: #629f6c !important;
  color: white !important;
  border-radius: 50px !important;
  border:1px solid #629f6c  !important;
  font-size: 13px !important;
}



@media (max-width:540px){
  .header_part1{
    visibility: hidden;
  }
  .header_part3{
    position: absolute;
  }
}
@media (max-width:980px){
  .footer-part1, .footer-part3{
    text-align: center !important;
  }
  .footer-part3-col{
    display: flex;
    justify-content: center;
  }
}